* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    background-color: black;
    margin: 0;
}

.header {
    display: flex;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ff69b4;
}

.header h1 {
    float: left;
    font-size: 48px;
}

.header img {  
    height: 100px;
    width: 100px;
    overflow: hidden;
    border-radius: 50%;
}

.header ul {
    padding-top: 15px;
    padding-right: 20px;
    float: right;
    font-size: 20px;
    font-weight: bolder;
}

.header ul li {
    display: inline;
    margin-left: 25px;
}

.header a {
    color: black;
}

.About-me {
    font-family: 'Courier New', Courier, monospace;
}

.About-me h2 {
    color: white;
    text-decoration: underline;
    display: inline-block;
}

#verticle-lineam {
    border-left: 6px solid #ff69b4;
    height: 1278px;
    position: absolute;
    left: 180px;
}

main {
    background-color: black;
}

.About-me p{
    margin-left: 200px;
    color: white;
    font-weight: bolder;
    display: inline-block;
}

.About-me a {
    color: white;
    text-decoration: underline;
}

.My-work {
    font-family: 'Courier New', Courier, monospace;
}

.My-work h2 {
    color: white;
    text-decoration: underline;
}

.My-work img {
    padding: 9px;
    background-color: #ff69b4;
    width: 300px;
    height: 400px;
}

.My-work a {
    padding: 9px;
    width: 300px;
    height: 400px;
    text-decoration: none;
}

.products {
    flex: 4;
    background-color: #fff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

.Contact-me {
    font-family: 'Courier New', Courier, monospace;
}

.Contact-me h2 {
    color: white;
    text-decoration: underline;
}

.Contact-me a {
    align-items: center;
    position: relative;
    left: 170px;
    padding-left: 30px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.Resume {
    font-family: 'Courier New', Courier, monospace;
}

.Resume h2 {
    color: white;
    text-decoration: underline;
    display: block;
}

.Resume a {
    margin-left: 180px;
    padding-left: 20px;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

.footer {
    color: #ff69b4;
    text-align: center;
}